<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.labmuffles.ecommerece">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/labmuffles_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/labmuffles_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Labmuffles"
        tools:replace="android:theme, android:icon">

        <activity
            android:name=".admin.AdminResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UsersWithOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".user.SearchProductsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminUserProductsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminsNewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".user.ConfirmFinalOrderActivity"
            android:exported="false" />
        <activity
            android:name=".user.CartActivity"
            android:exported="false" />
        <activity
            android:name=".user.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".user.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Labmuffles.NoActionBar" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".admin.AdminAddNewProductActivity"
            android:exported="true" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".user.loginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>